/* Google fonts (list in Evernote too)
font-family: 'Butcherman', cursive;
font-family: 'Walter Turncoat', cursive;
*/

* {
	box-sizing: border-box;
}

body {
	background-image: url("../images/bkgd_dirty_old_shirt.png");
	font-family: 'Walter Turncoat', cursive;
	color: white;
}

h1 {
	font-family: 'Butcherman', cursive;
	font-size: 48px;
	color: red;
}

